<!DOCTYPE html>
<html ng-app="main">
<head>
	<title>MovieDB</title>
	<script src="vendor/angular/angular.js"></script>
   	<script src="vendor/angular-route/angular-route.js"></script>
	<script src="main.js"></script>
   	<link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
	<div ng-controller="MovieCtrl" class="panel-body">
		<h1>My movie database</h1>
		<div class="row">
		    <div class="col-sm-8 col-md-8">
				<table class="table table-condensed table-hover">
					<thead>
						<tr><th>Title</th><th>Year</th><th>Actors</th><th></th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="movie in movies">
							<td><a ng-href="/movies/{{movie._id}}">{{movie.title}}</a></td>
						  	<td>{{movie.year}}</td>
						  	<td><p ng-repeat="actor in movie.actors">{{actor.name}}</p></td>
						  	<td><button ng-click="deleteMovie(movie._id)" class="btn btn-link">Delete</button>
						  		<button ng-click="printMovie(movie._id)" class="btn btn-link">Print</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	 	<form name="movie" class="form-horizontal" novalidate ng-submit="addMovie()">
	 		<h3>Add new movie</h3>
			<div class="col-sm-8 col-md-8">
			    <div class="form-group">
			    	<label for="title">Title</label>
			        <input type="text" name="title" class="form-control" placeholder="Title"
			            ng-model="data.title" ng-maxlength="200" required="true" />
			        <div class="error" ng-show="movie.title.$dirty && movie.title.$invalid">
			            <small class="error" ng-show="movie.title.$error.maxlength">Title is too long</small>
			        </div>
			    </div>
			</div>
			<div class="col-sm-8 col-md-8">
			    <div class="form-group">
			    	<label for="year">Year</label>
			        <input type="number" name="year" class="form-control" placeholder="Year [1900 - 2100]"
			            ng-model="data.year" ng-maxlength="4" />
			        <div class="error" ng-show="movie.year.$dirty && movie.year.$invalid">
			            <small class="error" ng-show="movie.year.$error.number">Year is not a number</small>
			            <small class="error" ng-show="movie.year.$error.maxlength">Year is too long</small>
			        </div>
			    </div>
			</div>
			<div class="col-sm-8 col-md-8">
		    	<div class="form-group">
			        <button type="submit" class="btn btn-primary" ng-disabled="movie.$invalid">Add</button>
			    </div>
		    </div>
		</form>
	</div>
</body>
</html>